<div class="flex justify-center items-center h-full" *ngIf="settings.isLoadingCurrentlySelectedCardHoldersAndCardCredentials$ | async; else notLoading">
  <mat-spinner />
</div>

<ng-template #notLoading>
  <div class="flex flex-col h-full">
    <mat-tab-group dynamicHeight preserveContent [(selectedIndex)]="selectedTabIndex">
      <mat-tab [label]="cardHolderAliasPlural">
        <div class="flex flex-col h-full">
          <app-search-bar
            label="Search {{ cardHolderAliasPlural }}"
            [filters]="cardHolderFilters"
            (searchSubmitted)="searchCardHolders($event)"
            (filtersChanged)="cardHolderFiltersChanged($event)"
          />
          <app-api-data-table
          [data$]="cardHoldersAndCardCredentials$"
          [showLoadingIndicator$]="isLoadingCardHoldersAndCardCredentials$"
          [columns]="cardHolderColumns$"
          (pagingEvent)="onCardHolderPagingEvent($event)"
          (sortingEvent)="onCardHolderSortingEvent($event)"
          />
        </div>
      </mat-tab>
      <mat-tab [label]="'Selected ' + cardHolderAliasPlural">
        <div class="flex flex-col h-full">
          <div class="flex flex-col h-full">
            <app-api-data-table
            [data$]="selectedCardHoldersAndCardCredentialsAsPagingResponse$"
            [showLoadingIndicator$]="isLoadingCardHoldersAndCardCredentials$"
            [columns]="cardHolderAndCardCredentialColumns$"
            [tableSettings]="noPagingTableSettings"
            (sortingEvent)="onSelectedCardHolderSortingEvent($event)"
            />
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div class="flex flex-col sm:flex-row gap-2 [&>*]:flex-grow">
      <button mat-flat-button color="primary" (click)="confirmSelection()">
        Confirm {{ selectedCardHoldersLength }} {{ cardHolderAliasPlural }}
      </button>
      <button mat-flat-button color="warn" (click)="resetSelection()" [disabled]="selectedCardHoldersLength === 0">
        Reset Selection
      </button>
    </div>
  </div>
</ng-template>

<ng-template #cardHolderActions let-cardHolderAndCardCredentials>
  <!--*ngIf="(cardHolderAndCardCredentials.cardCredentials?.length === 1 && (!settings.ensureCardSelectionsHaveSerialNumber || cardHolderAndCardCredentials.cardCredentials?.[0].serialNumber)) || settings.allowUsersWithoutACard"-->
  <mat-checkbox
    #checkBox
    *ngIf="cardHolderAndCardCredentials.cardCredentials?.length < 2 || settings.allowUsersWithoutACard"
    [checked]="isCardHolderChecked(cardHolderAndCardCredentials.cardHolder)"
    [disabled]="!checkBox.checked && ((selectedCardHoldersLength >= settings.limitCardHolderCount && settings.limitCardHolderCount > 1) || selectedCardCredentialsLength >= settings.limitTotalCardCount)"
    (change)="toggleSelectedCardHolder(cardHolderAndCardCredentials, $event.checked)"
  >
    Use {{ cardHolderAliasSingular }}
  </mat-checkbox>
  <div
    class="flex gap-2"
    *ngIf="!settings.selectCardHoldersOnly && cardHolderAndCardCredentials.cardCredentials?.length > 1"
  >
    <button mat-flat-button color="primary"
      [disabled]="selectedCardHoldersLength >= settings.limitCardHolderCount"
      (click)="selectCardCredentialFromCardHolder(cardHolderAndCardCredentials)"
    >
      Select Card
    </button>
    <button mat-flat-button color="warn"
      (click)="removeCardHolderWithMultipleCardsSelected(cardHolderAndCardCredentials)"
      *ngIf="isCardHolderChecked(cardHolderAndCardCredentials.cardHolder)"
    >
      Remove
    </button>
  </div>
  <!--<ng-container *ngIf="(!cardHolderAndCardCredentials.cardCredentials || cardHolderAndCardCredentials.cardCredentials.length === 0 || (settings.ensureCardSelectionsHaveSerialNumber && cardHolderAndCardCredentials.cardCredentials?.length === 1 && !cardHolderAndCardCredentials.cardCredentials[0].serialNumber)) && !settings.allowUsersWithoutACard">
    No Cards Available
  </ng-container>-->
</ng-template>

<ng-template #selectedCardHolderActions let-cardHolderAndCardCredentials>
  <mat-checkbox [checked]="true" (change)="toggleSelectedCardHolder(cardHolderAndCardCredentials, false)">
    Use {{ cardHolderAliasSingular }}
  </mat-checkbox>
</ng-template>
