<div class="flex flex-col h-full">
  <div class="flex flex-col gap-2 sm:flex-row flex-wrap [&>*]:flex-grow" *ngIf="currentlySelectedCardHolder">
    <h3 class="text-center">{{ currentlySelectedCardHolder.firstName }} {{ currentlySelectedCardHolder.lastName }} - {{ currentlySelectedCardHolder.uniqueIdentifier }}</h3>
    <button mat-flat-button color="primary" (click)="createOrEditCardCredential()" *ngIf="permissions.allowCreating">
      Create Card Credential
      <mat-icon matSuffix>add</mat-icon>
    </button>
    <button mat-flat-button color="warn" (click)="viewAllCardCredentials()" *ngIf="allowShowingAll">
      Show all Card Credentials
      <mat-icon matSuffix>close</mat-icon>
    </button>
  </div>
  <app-search-bar
    label="Search Card Credentials"
    [filters]="cardCredentialFilters"
    (filtersChanged)="cardCredentialFiltersChanged($event)"
    (searchSubmitted)="searchCardCredentials($event)"
  />
  <app-api-data-table
    [data$]="cardCredentials$"
    [showLoadingIndicator$]="isLoadingCardCredentials$"
    [columns]="cardCredentialColumns$"
    (pagingEvent)="onPagingEvent($event)"
    (sortingEvent)="onSortingEvent($event)"
  />
</div>

<ng-template #serialNumberColumn let-cardCredential>
  <ng-container *ngIf="cardCredential.serialNumber">
    {{ lockFormatCsnToDecimal(cardCredential.serialNumber) }}
  </ng-container>
</ng-template>

<ng-template #actions let-cardCredential>
  <div class="flex flex-col lg:flex-row gap-2 [&>*]:flex-grow w-full py-1">
    <ng-container *ngIf="showActionsButton">
      <button mat-flat-button color="primary" [matMenuTriggerFor]="actionsMenu">
        Actions
      </button>
      <mat-menu #actionsMenu="matMenu" xPosition="before">
        <ng-template matMenuContent>
          <button mat-menu-item (click)="createOrEditCardCredential(cardCredential)" *ngIf="permissions.allowEditing">
            <mat-icon color="primary">edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteCardCredential(cardCredential)" *ngIf="permissions.allowDeleting">
            <mat-icon color="warn">delete</mat-icon>
            <span>Delete</span>
          </button>
          <button mat-menu-item (click)="enrolCardCredential(cardCredential)" *ngIf="!hideEnrolAction && !cardCredential.serialNumber">
            <mat-icon color="primary">how_to_vote</mat-icon>
            <!-- <mat-icon color="primary">nfc</mat-icon> -->
            <span>Enrol Card</span>
          </button>
          <ng-container *ngIf="permissions.allowEditing && !disableReassignment">
            <mat-divider />
            <button mat-menu-item (click)="reassignCardCredentialToOtherCardHolder(cardCredential)" *ngIf="!disableReassignment">
              <mat-icon color="warn">assignment_ind</mat-icon>
              <span>Transfer card ownership</span>
            </button>
          </ng-container>
          <ng-container *ngIf="cardCredentialActions && !inlineActions">
            <mat-divider />
            <ng-container *ngTemplateOutlet="cardCredentialActions; context: $any({ $implicit: cardCredential })" />
          </ng-container>
        </ng-template>
      </mat-menu>
    </ng-container>
    <ng-container *ngIf="cardCredentialActions && inlineActions">
      <ng-container *ngTemplateOutlet="cardCredentialActions; context: $any({ $implicit: cardCredential })" />
    </ng-container>
  </div>
</ng-template>
