<div class="flex justify-center items-center h-full" *ngIf="settings.isLoadingCurrentlySelectedCardCredentialsAndCardHolders$ | async; else notLoading">
  <mat-spinner />
</div>

<ng-template #notLoading>
  <div class="flex flex-col h-full">
    <mat-tab-group dynamicHeight preserveContent [(selectedIndex)]="selectedTabIndex">
      <mat-tab [label]="cardHolderAliasSingular">
        <admin-card-holders-view
          [permissions]="settings.cardHolderPermissions"
          (viewCardCredentialsClicked)="viewCardCredentialsForCardHolder($event)" />
      </mat-tab>
      <mat-tab label="Cards">
        <admin-card-credentials-view
          [allowShowingAll]="false"
          [permissions]="settings.cardCredentialsPermissions"
          [currentlySelectedCardHolder$]="currentlySelectedCardHolder$"
          [cardCredentialActions]="cardCredentialActions"
          [inlineActions]="true"
          [useMinimalColumns]="settings.useMinimalCardCredentialColumns"
          [cardTypeFilter]="settings.cardTypeFilter"
        />
      </mat-tab>
      <mat-tab label="Selected" *ngIf="settings.showCurrentlySelectedCardCredentialsAndCardHolders">
        <div class="flex flex-col h-full">
          <app-api-data-table
            [data$]="currentlySelectedCardCredentialsAndCardHolders$"
            [columns]="cardCredentialsAndCardHoldersColumns$"
          />
        </div>
      </mat-tab>
    </mat-tab-group>
    <div class="flex flex-col sm:flex-row gap-2 [&>*]:flex-grow">
      <button mat-flat-button color="primary" (click)="confirmCardCredentialSelection()" [disabled]="!selectedCardHoldersAndCredentials.length">
        Confirm {{ selectedCardHoldersAndCredentials.length }} {{ cardHolderAliasSingular }}
      </button>
      <button mat-flat-button color="warn" (click)="resetCardCredentialSelection()" [disabled]="!selectedCardHoldersAndCredentials.length">
        Reset Selection
      </button>
    </div>
  </div>
</ng-template>

<ng-template #cardCredentialActions let-cardCredential>
  <ng-container *ngIf="cardCredential.serialNumber">
    <mat-checkbox (change)="useCard(cardCredential, $event.checked)" [checked]="isCardCredentialChecked(cardCredential)">
      Use Card
    </mat-checkbox>
  </ng-container>
</ng-template>

<ng-template #cardCredentialAndCardHolderActions let-cardCredentialAndCardHolder>
  <button mat-flat-button color="warn" (click)="useCard(cardCredentialAndCardHolder.cardCredential, false, cardCredentialAndCardHolder.cardHolder)">
    <mat-icon>delete</mat-icon>
    <span>Remove Card</span>
  </button>
</ng-template>

<ng-template #cardHolderNameColumn let-cardCredentialAndCardHolder>
  <div>{{ cardCredentialAndCardHolder.cardHolder.firstName }}</div>
  <div>{{ cardCredentialAndCardHolder.cardHolder.lastName }}</div>
</ng-template>

<ng-template #cardCredentialSerialAndHidNumbers let-cardCredentialAndCardHolder>
  <div>HID: {{ cardCredentialAndCardHolder.cardCredential.hidNumber }}</div>
  <div *ngIf="settings.showDecimalCsn && cardCredentialAndCardHolder.cardCredential.serialNumber">
    CSN: {{ lockFormatCsnToDecimal(cardCredentialAndCardHolder.cardCredential.serialNumber) }}
  </div>
  <div *ngIf="settings.showHexCsn && cardCredentialAndCardHolder.cardCredential.serialNumber">
    Hex CSN: {{ cardCredentialAndCardHolder.cardCredential.serialNumber }}
  </div>
</ng-template>
