<form [formGroup]="cardCredentialForm" (ngSubmit)="submitForm()" class="grid grid-cols-1 md:grid-cols-2 gap-2 [&>*]:w-full w-full">

  <mat-form-field class="w-full">
    <mat-label>HID Number</mat-label>
    <input type="text" matInput [formControl]="cardCredentialHidNumberControl">
    <mat-hint align="end" aria-label="32 characters or less">
      {{ (cardCredentialHidNumberControl.value?.length ?? 0) + '/32'}}
    </mat-hint>
    <mat-error *ngIf="cardCredentialHidNumberControl.hasError('required')">
      HID Number is required
    </mat-error>
    <mat-error *ngIf="cardCredentialHidNumberControl.hasError('pattern')">
      Numerical values only
    </mat-error>
    <mat-error *ngIf="cardCredentialHidNumberControl.hasError('maxlength') && !cardCredentialHidNumberControl.hasError('pattern')">
      HID Number too long
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Decimal CSN</mat-label>
    <input type="text" matInput [formControl]="cardCredentialSerialNumberControl">
    <mat-hint align="end" aria-label="32 characters or less">
      {{ (cardCredentialSerialNumberControl.value?.length ?? 0) + '/32'}}
    </mat-hint>
    <mat-error *ngIf="cardCredentialSerialNumberControl.hasError('pattern')">
      Numerical values only
    </mat-error>
    <mat-error *ngIf="cardCredentialSerialNumberControl.hasError('maxlength') && !cardCredentialSerialNumberControl.hasError('pattern')">
      CSN too long
    </mat-error>
    <mat-error *ngIf="cardCredentialSerialNumberControl.hasError('minlength') && !cardCredentialSerialNumberControl.hasError('pattern')">
      CSN too short
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Card Type</mat-label>
    <mat-select [formControl]="cardCredentialCardTypeControl">
      <mat-option [value]="CardType.User">User</mat-option>
      <mat-option [value]="CardType.Welcome">Welcome</mat-option>
      <mat-option [value]="CardType.Master">Master</mat-option>
      <mat-option [value]="CardType.Security">Security</mat-option>
      <mat-option [value]="CardType.Tag">Tag</mat-option>
    </mat-select>
  </mat-form-field>

  <app-text-input [settings]="cardCredentialLabelSettings" [control]="cardCredentialLabelControl" />

  <div class="align-button-with-input">
    <button mat-flat-button color="primary" type="submit" class="w-full" [disabled]="cardCredentialForm.invalid">
      {{ (hasCardCredential ? 'Save' : 'Create') + ' Card Credential' }}
    </button>
  </div>

  <div class="align-button-with-input">
    <button mat-flat-button color="primary" type="button" class="w-full" (click)="enrolCardCredential()">
      Use Card Reader
    </button>
  </div>
</form>
