<div class="flex flex-col h-full">
  <div class="flex flex-col gap-2 sm:flex-row flex-wrap [&>*]:flex-grow" *ngIf="currentlySelectedLockerBank">
    <h3 class="text-center">{{ currentlySelectedLockerBank.name }}</h3>
    <button mat-flat-button color="primary" (click)="createOrEditLocker()" *ngIf="permissions.allowCreating">
      Create Locker
      <mat-icon matSuffix>add</mat-icon>
    </button>
    <button mat-flat-button color="warn" (click)="viewAllLockers()" *ngIf="allowShowingAll">
      Show all Lockers
      <mat-icon matSuffix>close</mat-icon>
    </button>
  </div>
  <app-search-bar
    label="Search Lockers"
    [filters]="lockerFilters"
    (filtersChanged)="lockerFiltersChanged($event)"
    (searchSubmitted)="searchLockers($event)"
  />
  <app-api-data-table
    [data$]="lockers$"
    [showLoadingIndicator$]="isLoadingLockers$"
    [columns]="['id', 'label', 'serviceTag', { name: 'actions', template: actions, sortable: false, stickyPosition: StickyPosition.End }]"
    (pagingEvent)="onPagingEvent($event)"
    (sortingEvent)="onSortingEvent($event)"
  />
</div>

<ng-template #actions let-locker>
  <div class="flex flex-col lg:flex-row gap-2 [&>*]:flex-grow w-full py-1">
    <button mat-flat-button color="primary" (click)="viewTenantsForLocker(locker)" *ngIf="!hideTenantsAction">Tenants</button>

    <ng-container *ngIf="showActionsButton">
      <button mat-flat-button color="primary" [matMenuTriggerFor]="actionsMenu">
        Actions
      </button>
      <mat-menu #actionsMenu="matMenu" xPosition="before">
        <ng-template matMenuContent>
          <button mat-menu-item (click)="createOrEditLocker(locker)" *ngIf="permissions.allowEditing">
            <mat-icon color="primary">edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteLocker(locker)" *ngIf="permissions.allowDeleting">
            <mat-icon color="warn">delete</mat-icon>
            <span>Delete</span>
          </button>
          <ng-container *ngIf="lockerActions && !inlineActions">
            <mat-divider />
            <ng-container *ngTemplateOutlet="lockerActions; context: $any({ $implicit: locker })" />
          </ng-container>
        </ng-template>
      </mat-menu>
    </ng-container>
    <ng-container *ngIf="lockerActions && inlineActions">
      <ng-container *ngTemplateOutlet="lockerActions; context: $any({ $implicit: locker })" />
    </ng-container>
  </div>
</ng-template>
