<div class="flex flex-col items-center justify-center h-full" *ngIf="!showEditMode && (imageUri$ | async) as imageUri;">
  <ng-container>
    <img [src]=" imageUri" alt="Reference Image" class="object-contain w-full h-5/6">
    <div class="flex justify-center grid-cols-3 gap-4">
      <button mat-flat-button color="primary" (click)="toggleEditMode()">Replace</button> 
      <button mat-flat-button color="warn" (click)="deleteImage()">Delete</button>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="showEditMode">
  <app-image-input [settings]="imageInputSettings" (imageSelected)="handleSelectedImage($event)" (editCancelled)="cancelEdit()"></app-image-input>
</ng-container>