<ng-container [ngSwitch]="dialogState">

  <div *ngSwitchCase="EnrolState.AwaitingCard">
    <h3 class="text-center">Place card on the reader</h3>
  </div>

  <div *ngSwitchCase="EnrolState.ReadingCard" class="flex flex-col items-center justify-center gap-4">
    <h3 class="text-center">Reading card, please wait</h3>
    <mat-spinner />
  </div>

  <app-countdown *ngSwitchCase="EnrolState.AcceptedCard"
    title="Card read successfully!"
    message="This dialog will close in"
    (completed)="close(closeValue)"
  />

  <div *ngSwitchCase="EnrolState.FailedToReadCard">
    <h3 class="text-center">The card could not be read</h3>
  </div>

  <div *ngSwitchDefault>
    <h3>An unexpected issue has occurred</h3>
    <p>Please contact your account administrator</p>
  </div>

</ng-container>

<div cdkTrapFocus>
  <input type="text" cdkFocusInitial #cardInput class="sr-only" [attr.aria-hidden]="true">
</div>
